.reveal section img {
	border: none;
	box-shadow: none;
}

.full {
	width: 100%;
	height: 100%;
}

.camden {
	padding: 10%;
}

div.fac {
	background: url(./img/fac-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}